.content_empresa_small{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: white;
}


#section_empresa{
	border: 1px solid black;
	background: white;}

.content_empresa{display: none;}




/*========================================BREACKPOINTS========================================*/

/*===============768px===============*/
@media screen and (min-width: 768px){
	.content_empresa_small{display: none;}

	.content_empresa{
		display: block;
		width: 910px;
		height: auto;
		margin: 120px auto auto auto;
		background: none;}

	.title_content_empresa{
		width: 100%;
		min-height: 50px;
		padding: 5px;
		background: none;}

	.menu_content_empresa{
		width: 100%;
		height: auto;
		background: none;}	
	
	.menu_content_empresa ul{
		width: 571px;
		height: 70px;
		margin: 0 auto;
		background: none;}

	.menu_content_empresa ul li{
		display: inline-block;
		width: 55px;
		height: 70px;
		margin: auto 70px auto auto;
		cursor: pointer;
		transition: 0.2s;
		background: none;
		text-align: center;
		font-family: "Lato";
		font-size: 1em;}

	.menu_content_empresa ul li:nth-child(5){margin-right: 0px;}

	.menu_content_empresa ul li i{
		display: block;
		position: relative;
		width: 45px;
		height: 45px;
		border-radius: 45px;
		left: 50%;
		margin-left: -22.5px;
		padding: 8px 0px;
		background: white;
		text-align: center;
		font-size: 2em;}

	.content_tema_empresa{
		display: block;
		width: 100%;
		min-height: auto;
		background: none;
		text-align: center;
		font-family: "Lato";}

	.bloco_content_empresa{
		display: none;
		min-width: 200px;
		max-width: 900px;
		min-height: 300px;
		margin: 0 auto;	
		background: purple;}

	#bloco_historico{display: none; background: red;}
	#bloco_visao{display: none; background: yellow;}
	#bloco_missao{display: none; background: grey;}
	#bloco_valores{display: none; background: black;}
	#bloco_equipe{display: none; background: green;}	

	#bloco_historico{display: block;}


}