.content_parceiro{
	min-width: 200px;
	height: auto;
	margin: 60px auto auto auto;
	background: none;
	font-family: "Lato";}
.content_parceiro h2{font-weight: bold;}

.parceiro{
	display: block;
	width: 180px;
	height: 200px;
	margin: auto auto 30px auto;
	background: none;}
.parceiro .icon{
	width: 90px;
	height: 90px;
	padding: 5px 0px;
	border-radius: 90px;
	box-shadow: 2px 2px 3px grey;
	overflow: hidden;
	background: white;}

.info_parceiro{
	float: left;
	width: 100%;
	height: 70px;
	margin-top: 5px;
	background: white;}
.info_parceiro a{color: #101d42;}

#dmi a,#krista a, #tdec a, #brascont a{text-decoration: none;}

@media screen and (min-width: 768px){
	.content_parceiro{max-width: 755px;}
	.parceiro{
		display: inline-block;
		margin: auto auto 10px auto;}
}

@media screen and (min-width: 996px){
	.content_parceiro{max-width: 955px;}
}