.content_servico_small{
	display: block;
	min-width: 200px;
	height: auto;
	margin-top: 60px;
	background: white;}

.menu_content_servico_small{
	min-width: 200px;
	max-width: 250px;
	height: auto;
	margin: 0 auto;
	background: none;}

.menu_content_servico_small .temas{
	width: 140px;
	height: auto;
	margin: auto auto 25% auto;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	background: grey;
	text-align: center;
	font-family: "Lato";
	font-size: 1.1em;
	color: white;}

.icon{
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: 3px solid;
	border-color: white;
	margin: 0 auto;
	cursor: pointer;
	transition: 0.1s;
	background: white;
	text-align: center;
	font-size: 2em;}

#menu_cabeamento_small .icon{background: url("../img/cabeamento.jpg");}
#menu_governanca_small .icon{background: url("../img/governanca.jpg");}
#menu_assistencia_small .icon{background: url("../img/assistencia_tecnica.jpg");}
#menu_atendimento_small .icon{background: url("../img/atendimento.jpeg");}


.content_tema_servico_small{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: white;}
.content_tema_servico_small button{
	position: relative;
	float: right;
	width: 35px;
	height: 35px;
	top: 5px;
	right: 5px;
	border-radius: 35px;
	background: red;
	text-align: center;
	font-size: 1.2em;
	color: white;}

.bloco_content_servico_small{
	display: none;
	width: 100%;
	min-height: 300px;
	margin-bottom: 20px;
	background: white;
	text-align: center;
	font-family: "Lato"; }

.bloco_content_servico_small p{
	min-width: 200px;
	max-width: 750px;
	height: auto;
	padding: 15px;
	margin-bottom: 30px;
	background: none;
	text-align: justify;
	font-size: 1.2em;}

.content_servico{display: none;}

/*========================================BREACKPOINTS========================================*/

/*===============780px===============*/
@media screen and (min-width: 780px){
	.content_servico_small{display: none;}

	.content_servico{
		display: block;
		min-width: 700px;
		max-width: 910px;
		height: auto;
		margin: 50px auto auto auto;
		background: none;}

	.header_content_servico{
		width: 100%;
		min-height: 50px;
		padding: 5px;
		background: none;}

	.menu_content_servico{
		width: 100%;
		height: auto;
		background: none;}	
	
	.menu_content_servico ul{
		width: 742px;
		height: auto;
		margin: 0 auto;
		background: none;}

	.menu_content_servico ul li{
		display: inline-block;
		width: 160px;
		height: auto;
		margin: auto 30px auto auto;
		transition: 0.1s;
		border-radius: 10px;
		cursor: pointer;
		background: grey;
		text-align: center;
		font-family: "Lato";
		font-size: 1em;
		color: white;}
	.menu_content_servico ul li:nth-child(4){margin-right: 0px;}
	.menu_content_servico ul li:hover{background: #252422;}
	.menu_content_servico ul li span{
		float: left;
		width: 160px;}

	#menu_cabeamento .icon{background: url("../img/cabeamento.jpg");}
	#menu_governanca .icon{background: url("../img/governanca.jpg");}
	#menu_assistencia .icon{background: url("../img/assistencia_tecnica.jpg");}
	#menu_atendimento .icon{background: url("../img/atendimento.jpeg");}

	.content_tema_servico{
		display: block;
		width: 100%;
		height: auto;
		background: white;
		text-align: center;
		font-family: "Lato";}

	.bloco_content_servico{
		display: none;
		min-width: 200px;
		max-width: 900px;
		height: auto;
		margin: 0 auto;	
		background: white;}
	.bloco_content_servico p{
		max-width: 950px;
		height: 600px;
		margin: 0 auto;
		padding: 15px 10px;
		background: white;
		font-size: 1.2em;
		text-align: justify;
	}

	#bloco_cabeamento{display: block; background: white;}

	.content_galeria_servico{
		width: 100%;
		height: auto;
		background: white;}

	.categoria_servico{
		display: inline-block;
		width: 85px;
		height: 100px;
		border-radius: 10px;
		box-shadow: 2px 2px 3px #ccc;
		background: white;
		color: white;}

	#gal_cat5 a,#gal_cat6 a,#gal_elet a,#gal_infra a,#gal_optic a,#gal_tele a{
		text-decoration: none;
		color: #252422;}
	#gal_cat5 a:hover{color: grey;}
	#gal_cat6 a:hover{color: grey;}
	#gal_elet a:hover{color: grey;}
	#gal_infra a:hover{color: grey;}
	#gal_optic a:hover{color: grey;}
	#gal_tele a:hover{color: grey;}

	.icon_galeria{
		width: 60px;
		height: 60px;
		border-radius: 60px;
		margin: 0 auto;
		background: white;}

	#gal_cat5 .icon_galeria{
		background: url("../img/servico/gal_cat5/gal_cat5_small.jpg");
		background-size: cover;}
	#gal_cat6 .icon_galeria{
		background: url("../img/servico/gal_cat6/gal_cat6_small.jpg");
		background-size: cover;}
	#gal_elet .icon_galeria{
		background: url("../img/servico/gal_elet/gal_elet_small.jpg");
		background-size: cover;}
	#gal_infra .icon_galeria{
		background: url("../img/servico/gal_infra/gal_infra_small.jpg");
		background-size: cover;}
	#gal_optic .icon_galeria{
		background: url("../img/servico/gal_optic/gal_optic_small.jpg");
		background-size: cover;}
	#gal_tele .icon_galeria{
		background: url("../img/servico/gal_tele/gal_tele_small.jpg");
		background-size: cover;}
}